html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Panchang-Regular', sans-serif;
    background: #353232;
    color: white;
}

p {
    font-family: 'Jost', sans-serif;
    font-size: 1.25rem;
    line-height: 30px;
}

footer p {
    font-size: 1rem;
    margin-bottom: 5vh;
}

.grid {
    display: grid;
    grid-template-columns: 5fr 8fr 5fr;
    z-index: 100;
}

.grid h1 {
    z-index: -5;
}

.grid2 {
    /* background: black; */
    background: #353232;
    z-index: 600;
}

.grid2 .content {
    padding: 5vh 25vw 10vh 25vw;
    z-index: 600;
}

.bgexpand {
    /* height: 100%; */
    /* max-height: 400px; */
    z-index: 600;
}

iframe {
    margin: 0.5rem 0;
}

.episodes {
    margin: 0 -10vw;
}

.bgimg {
    background-color: #333333;
    height: 30vh;
    position: relative;
}

.bgimg img {
    position: absolute;
    /* bottom: -97px; */
    bottom: -70px;
    right: 4rem;
    height: 140px;
    width: 140px;
}

nav {
    background: #7b8586;
    color: #434349;
    font-size: 1em;
    position: fixed;
    /* left: 3rem; */
    left: 0;
    top: 25vh;
    font-weight: 600;
    z-index: 800;
}

.inner {
    position: absolute;
    bottom: 100%;
    -webkit-transform: rotateZ(90deg);
    transform-origin: 0 100%;
    background: #7EDDEB;
    color: #434349;
    ;
    white-space: nowrap;
}

.rotate {
    -webkit-transform: rotate(180deg);
}

ul {
    /* list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; */
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 1rem;
    /* margin-bottom: 3rem; */
}

ul li {
    padding: 0 1rem;
    float: left;
    display: block;
}

ul li a {
    color: white;
    color: #434349;
    text-decoration: none;
}

h1 {
    font-family: 'Panchang-Extrabold';
    letter-spacing: 0.1em;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}


/* #expand {
    position: fixed;
} */

h2 {
    font-family: 'Panchang-Bold';
    text-align: center;
    letter-spacing: -0.02em;
    font-size: 2rem;
    margin-bottom: 6rem;
}

h3 {
    font-family: 'Panchang-Bold';
    text-align: center;
}

h3 a {
    color: #7EDDEB;
}

.contact {
    margin-top: 2rem;
}

p strong {
    font-family: 'Panchang-Semibold';
}

#blur {
    font-size: 40px;
    color: transparent;
    text-shadow: 0 0 8px #333333;
}

@keyframes blur {
    0% {
        text-shadow: 0 0 8px #333333;
        opacity: 0;
        filter: blur(15px);
    }
    100% {
        opacity: 1;
        filter: blur(0px);
    }
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    animation: blur 1.5s ease-out;
    z-index: 1;
}

.hero h1 {
    margin: 0;
}

#expand {
    /* position: fixed; */
}

#expand2 {
    /* position: fixed; */
    transform: translateX(140px) !important;
    transform: translateY(-40px) !important;
}

.mainL {
    opacity: 0.1;
    color: #353232;
    -webkit-text-stroke: 1px #698AFF;
}

.hero2 {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    max-height: 400px;
z-index: 600;
background: black; */
}

.parallax {
    /* The image used */
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media all and (max-width: 37.5em) {
    html {
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    .grid {
        grid-template-columns: 2fr 14fr 2fr;
        overflow-x: hidden;
    }
    .grid2 .content {
        padding: 5vh 5vw 10vh 5vw;
        z-index: 600;
    }
    h1 {
        font-size: 1rem;
        margin-top: 8rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
        overflow-x: hidden;
        text-overflow: ellipsis !important;
    }
    .bgimg img {
        position: absolute;
        right: 10%;
    }
    nav {
        font-size: 1.25rem;
        position: fixed;
        left: 3rem;
        /* top: 25vh; */
        font-weight: 600;
        display: none;
    }
    .inner {
        position: absolute;
        bottom: 100%;
        -webkit-transform: rotateZ(0);
        transform-origin: 0 100%;
        background: #00A08F;
        white-space: nowrap;
    }
    .rotate {
        -webkit-transform: rotate(0);
    }
    .episodes {
        margin: 0 0vw;
    }
}