body {
    font-family: 'Jost', sans-serif;
    background: #F5F9FF;
}

nav {
    margin: 6rem 0;
}

h1 {
    margin: 0 0 0.5rem 0;
}

p {
    margin: 0 0 4rem 0;
}

nav h1 {
    font-size: 30px;
}

nav p {
    font-size: 12px;
    margin: 0;
    margin-top: 0.5rem;
}

.intro {
    font-size: 30px;
    font-weight: 600;
}

.grid {
    display: grid;
    grid-template-columns: 6fr 8fr 6fr;
}

@media all and (max-width: 37.5em) {
    .grid {
        grid-template-columns: 2fr 14fr 2fr;
    }
}