html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Jost', sans-serif;
    background: #F5F9FF;
    color: #434349;
}

iframe {
    margin: 0.5rem 0;
}

.episodes {
    margin: 0 -10vw;
}

.bgimg {
    background-color: #333333;
    height: 30vh;
    position: relative;
}

.bgimg img {
    position: absolute;
    /* bottom: -97px; */
    bottom: -70px;
    right: 4rem;
    height: 140px;
    width: 140px;
}

nav {
    background: #7b8586;
    color: #434349;
    font-size: 1.25rem;
    position: fixed;
    /* left: 3rem; */
    left: 0;
    top: 25vh;
    font-weight: 600;
}

.inner {
    position: absolute;
    bottom: 100%;
    -webkit-transform: rotateZ(90deg);
    transform-origin: 0 100%;
    background: #7EDDEB;
    color: #434349;
    ;
    white-space: nowrap;
}

.rotate {
    -webkit-transform: rotate(180deg);
}

ul {
    /* list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; */
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 1.5rem;
    /* margin-bottom: 3rem; */
}

ul li {
    padding: 0 1rem;
    float: left;
    display: block;
}

ul li a {
    color: white;
    color: #434349;
    text-decoration: none;
}

h1 {
    margin-top: 4.25rem;
    margin-bottom: 0;
    font-size: 6.25rem;
}

h2 strong {
    color: #698AFF !important;
}

span {
    font-size: 14px;
}

h2 {
    margin-top: 4rem;
    font-size: 2.5rem;
}

h3 {
    /* margin-top: 4.625rem; */
    margin-top: 100px;
    font-size: 1.875rem;
}

p {
    font-size: 1.5rem;
    line-height: 30px;
}

footer {
    background: #333333;
    color: white;
    padding: 4rem 0 1rem 0;
    margin-top: 4rem;
}

footer p {
    font-size: 16px;
}


/* nav h1 {
    font-size: 30px;
}

nav p {
    font-size: 12px;
    margin: 0;
    margin-top: 0.5rem;
} */

.intro {
    font-size: 30px;
    font-weight: 600;
}

.grid {
    display: grid;
    grid-template-columns: 6fr 8fr 6fr;
}

@media all and (max-width: 37.5em) {
    .grid {
        grid-template-columns: 2fr 14fr 2fr;
    }
    h1 {
        font-size: 5rem;
        margin-top: 8rem;
    }
    .bgimg img {
        position: absolute;
        right: 10%;
    }
    nav {
        font-size: 1.25rem;
        position: fixed;
        left: 3rem;
        /* top: 25vh; */
        font-weight: 600;
        display: none;
    }
    .inner {
        position: absolute;
        bottom: 100%;
        -webkit-transform: rotateZ(0);
        transform-origin: 0 100%;
        background: #00A08F;
        white-space: nowrap;
    }
    .rotate {
        -webkit-transform: rotate(0);
    }
    .episodes {
        margin: 0 0vw;
    }
}